body {
    color: black;
    background-color: skyblue;
    padding-left: 3em;
    font-family: 'BhuTuka Expanded One', cursive;

}
h1 {
    color: black;
    font-family: 'Brush Script MT';
    text-align: center;
    font-size: 250%;
    /*font-family: 'Dancing Script', cursive;*/
    /*font-family: 'Shadows Into Light', cursive;*/
}

h4{
    color:black;
    font-family: Times New Roman;
    text-align: justify;
    background-color: white;
    width: fit-content;
}

h5{
    color: black;
    text-align: justify;
    font-size: larger;
}

h5.fam{
    color: black;
    font-family: Times New Roman;
    font-size: xx-large;
    background-color: aqua;
    width: fit-content;
}
h3{
    color: black;
    background-color: aqua;
    width: fit-content;
    font-size: medium;
}
p{
    font-family: 'PT Sans Narrow';
    font-size: large;
    text-align: left;
}
#lista{
    font-family: Gill Sans;
    font-size: medium;
    background-color: aqua;
    color: black;
    width: fit-content;
}

#amino{
    font-family: Impact;
    font-size: medium;
    background-color: aqua;
    width: fit-content;
    color: black;
}
#foto{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;

}

/*ul {
    list-style-type: none;
    text-align: center
  }
  
li {
    background-color: #F6E3CA;
    border: #D7C8B6 2px solid;
    display: inline;
    margin-right: 10px;
  }
*/
a {
    color: black;
    padding: 0 4px;
    text-decoration: none;
}
  
dt{
    font-family: sans-serif;
    font-size: larger;
}

dd{
    font-family: serif;
    font-size: large;
}
a:hover {
    background-color: white;
    color: black;
}
/*
ul.navbar {
    list-style-type: none;
    padding: 0;
    margin: 0;
        
    position: absolute;
    top: 2em;
    left: 1em;
    width: 9em;
}
ul.navbar li {
    background: rgb(12, 224, 214);
    margin: 0.5em 0;
    padding: 0.3em;
    border-right: 1em solid black 
}
ul.navbar a { 
    text-decoration: none 
}
a:link { 
    color: blue 
}
a:visited { 
    color: purple
}
*/
/* una clase */
.center {
    text-align: center;
    color: red;
}

.recuadro {
	border:1px solid black;
	width:49.5%;
	display:inline-block;
	height:49.5%;
	overflow:hidden;
}

.fotos{
    width: fit-content;
    border: 1px solid black;
    border-radius: 16px;
    height: fit-content;
    display: inline-block;
}

#uno{
	background-color:blue;
	}
#dos{
	background-color:green;
	}
#tres{
	background-color:yellow;
	}
#cuatro{
	background-color:red;
	}

.letra{
    font-size: medium;
    font-family: 'Lucida Sans Regular';
    color: black;
    background-color: royalblue;
    width: fit-content;
}
.letra2{
    font-size: medium;
    font-family: Verdana;
    color: black;
    width: fit-content;
}

/* Css del menú desplegable*/
#drop{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
#drop_li{
    float: left;
}
#division{
    border: 0;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover, .dropdown:hover .dropbtn {
    background-color: gold;
  }
  
li.dropdown {
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: green;
    padding: 12x 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
.dropdown-content a:hover {background-color: gold;}
  
.dropdown:hover .dropdown-content {
    display: block;
  }

#dif{
    color: blue;
    background-color: pink;
}

tr{
    background-color: black;
    font-style: italic;
    font-family: Times New Roman;
    color: white;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 15px;
}

td{
    background-color: salmon;
    font-style: italic;
    font-family: Times New Roman;
    color: black;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 15px;
}

th{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 15px;
}
th, tr,td{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 15px;
}
table {
    width: 50%;
    border: 1px solid;
    border-collapse: collapse;
    border-radius: 15px;
  }

dd{
    color: red;
    font-size: medium;
    font-family: Cambria;    
}

dt{
    color: black;
    font-size: large;
    font-family: Cambria;
}
#bio_img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 10%;
    opacity: 0.8;

}
#bio_parr{
    text-align: center;
    font-family: 'Courier New';
    font-size: large;
}
.container {
    position: relative;
    width: 20%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    white-space: nowrap; 
    color: white;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }


  .sticky-container{
    padding:0px;
    margin:0px;
    position:fixed;
    right:-130px;
    top:230px;
    width:210px;
    z-index: 1100;
}
.sticky li{
    list-style-type:none;
    background-color:#fff;
    color:#efefef;
    height:43px;
    padding:0px;
    margin:0px 0px 1px 0px;
    -webkit-transition:all 0.25s ease-in-out;
    -moz-transition:all 0.25s ease-in-out;
    -o-transition:all 0.25s ease-in-out;
    transition:all 0.25s ease-in-out;
    cursor:pointer;
    background-color: none;
}
.sticky li:hover{
    margin-left:-115px;
}
.sticky li img{
    float:left;
    margin:5px 4px;
    margin-right:5px;
}
.sticky li p{
    padding-top:5px;
    margin:0px;
    line-height:16px;
    font-size:11px;
}
.sticky li p a{
    text-decoration:none;
    color:#2C3539;
    
}
.sticky li p a:hover{
    text-decoration:underline;
    background-color: snow;
}

.fa {
    padding: 20px;
    font-size: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
      background-color: aliceblue;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram {
    background: #125688;
    color: white;
  }

#back{
    background-color: blue;
}

#bio{
    background-color: aquamarine;
    font-size: medium;
    font-family: Verdana;
    width: fit-content;
    text-align: center;
}